* {
    box-sizing: border-box;
    margin: 0 auto 0 auto;
}
h1 {
    font-size: 24px;
    font-family: 'Georgia', Times, Times New Roman, serif;   
    position: fixed;
    background: teal;
    color: white;
    padding: 20px;
}
nav {
    float: right;
    padding: 20px;
}
a {
    color: #777777;
    font-size: 18px;
    letter-spacing: 4px;
}
.clearfix {
    clear: both;
    overflow: auto;
}
body {
    width: 960px;
    overflow: hidden;
}
.wrapper {
    width: 960px;
    border:#ddd 1px solid;
    height: 300px;
    margin: 0 auto;
    overflow: hidden;
}
h2 {
    font-family: 'Georgia', Times, Times New Roman, serif;
    color: teal;
    padding-top: 20px;
    padding-bottom: 10px;
    margin-left: 10px;
}
hr {
    display: block;
    margin-top: 5px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
    color: #777777;
}
img {
    border-radius: 50%;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
    float: left;
    margin-right: 10px;
    margin-bottom: 40px;
    margin-left: 10px;
}
p {
    padding-bottom: 20px;
    margin-right: 10px;
}

footer {
    clear: both;
    border-top: 8px solid teal;
    background: #666666;
    height: 50px;
    margin-top: -50px;
}